<button class="btn btn-primary" (click)="onButtonClick()">Display Details</button>
<p *ngIf="displayParagraph">Secret Password = tuna</p>
<div *ngFor="let log of logArray">
  <p [ngStyle]="{backgroundColor: (log > 5 ? 'blue' : 'white')}" [ngClass]="{log: log > 5}">{{ log }}</p>
</div>